# power-backlight udev rule (derived from TLP 40-tlp.rules).
# Set screen backlight brightness on power source change.
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", RUN+="/usr/bin/power-backlight"
