# power-backlight - udev rules (from TLP 40-tlp.rules).
# Run power-backlight on power source change of AC or battery.
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", RUN+="/usr/bin/power-backlight"
